a {
  font-family: "fira";
}

.navbar {
  background-color: var(--main-color);
  color: var(--main-color-light);
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#logo {
  width: 40px;
}

#navliste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

#navliste li {
  font-size: 0.9rem;
}

#navglobal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.numberList {
  color: var(--green-main);
}
